[auto] # 可选配置
# 如果配置了下面的值,脚本将会自动代入配置的值
# 如果没有配置,脚本将会要求你输入对应项目

# Steam64位ID,只能为64位ID
steamid = 0
# 如果有多个账号,也可以这这么配置
# steamid = [11111,22222,33333]

[other] # 其他设置
# 是否在运行结束后显示等待屏幕, 如果是在终端中运行可以禁用
# true: 显示等待屏幕, false: 不显示等待屏幕,直接退出
wait_screen = true

[itad] # itad模块设置,用于获取价格信息
# API Token, 必填
# 申请地址: https://new.isthereanydeal.com/apps/mine/
token = ""

# 价格区域
# 设置值参考: https://blog.chrxw.com/archives/2020/11/08/1411.html
country = "CN"
region = "cn"
# 货币符号
currency_symbol = '¥'

[keylol] # keylol模块设置,用于获取游戏标签,卡牌等信息
# 是否启用keylol模块,禁用的话将使用itad模块替代
# true:启用, false:禁用
enable = false

[steam]
# Steam网页端语言选项
# schinese代表简中, english代表英文
language = "schinese"
# 是否使用小尺寸的游戏图片,改为false将会使用大一些的图片
small_game_pic = true

[net] # 代理设置,只支持http协议(不支持socks5)
# 如果使用全局模式应该不需要设置
# 非空值: 启用代理, false: 禁用代理
proxy = false
# proxy = 'http://127.0.0.1:1081'

[output] #输出配置
columns = ['']

# 直接在控制台显示
console = true # 打包出了点问题暂时不可用

# markdown格式的输出文件(Typora等软件可以打开)
markdown = true

# xlsx格式的输出文件(Excel可以打开)
xlsx = true

# 论坛使用的BBCODE
bbcode = true

# 导出Json,方便二次开发
json = true

[sort] # 排序设置
###################
# 排序功能暂未实装 #
###################

# 使用数字表示排序方式,负数表示逆向排序
# 例如:
# 1:  appid 从小到大
# -1: appid 从大到小 (以下类似)

# 0: 不排序 (按照Steam返回的顺序输出)
# 1: appid 从小到大
# 2: 史低 -> 近史低 -> 未达史低 ,没有价格的项目始终放在最下面
# 3: 折扣幅度 从小到大 ,没有价格的项目始终放在最下面
# 4: 现价 从低到高 ,没有价格的项目始终放在最下面
# 5: 原价 从低到高 ,没有价格的项目始终放在最下面
# 6: 好评率 从低到高
# 7: 类型 游戏 -> 软件 -> DLC -> 视频

# [0-7]:选择排序依据,如果排名相同会按照appid从小到大排序
index = 1

[filter] # 过滤器设置
# 错误的配置有可能得到意外的结果

# 类似于白名单,【过滤掉】的意思是【删掉】

# 任意规则的值设置为 -1 代表禁用该条规则

# -----其他过滤器---------------------------------------
# true:过滤掉 没有 卡牌的游戏, false/-1:禁用
has_card = -1

# -----价格过滤器---------------------------------------
# 如果游戏未发售,视为 没有价格
# 如果价格获取出错,视为 没有价格
# 免费游戏价格视为 0,但是既不算有价格也不算没有价格

# false:过滤掉 免费 的游戏, true/-1:禁用
price_free = -1
# false:过滤掉 有价格 的游戏, true/-1:禁用
price_set = -1
# false:过滤掉 没有价格 的游戏, true/-1:禁用
price_noset = -1

# 下面的价格过滤器只对有价格的游戏有效,忽略没有价格和免费的游戏

# 任意数值:过滤掉当前价格 低于 设定值的游戏, -1:禁用
price_higher = -1
# 任意数值:过滤掉当前价格 高于 设定值的游戏, -1:禁用
price_lower = -1

# -----折扣过滤器---------------------------------------
# 折扣过滤器只对有价格的游戏有效,忽略没有价格和免费的游戏

# 折扣计算方法: (原价 - 现价) / 原价 * 100
# 免费游戏和没有价格的游戏折扣视为 0
# 未打折折扣视为 0, 限免折扣视为 100

# false:过滤掉 未打折 的游戏, true/-1:禁用
discount_no = -1

# 下面的折扣过滤器只对有折扣的游戏有效,忽略未打折的游戏

# [1-100]:过滤掉当前折扣 低于 设定值的游戏, -1:禁用
discount_higher = -1
# [1-100]:过滤掉当前折扣 高于 设定值的游戏, -1:禁用
discount_lower = -1

# 近史低条件: (现价-史低价) / 原价 <= 5%
# 一个游戏只有一种状态,要么是史低,要么是近史低,要么是非史低

# false:过滤掉 未达到 史低或近史低的游戏, true/-1:禁用
discount_not_lowest = -1
# false:过滤掉 达到 史低的游戏, true/-1:禁用
discount_is_lowest = -1
# false:过滤掉 达到 近史低的游戏, true/-1:禁用
discount_almost_lowest = -1

# -----评测过滤器---------------------------------------
# 评价等级说明:
# 0:评测数量不足 (未发售和预售游戏会显示这个)
# 1->4:差评如潮 -> 特别差评 -> 差评 -> 多半差评
# 5:褒贬不一
# 6->9:多半好评 -> 好评 -> 特别好评 -> 好评如潮

# false:过滤掉 评测数量不足(等级0) 的游戏, true/-1: 禁用
review_no_score = -1

# 下面的过滤器都会 忽略 评测数量不足 的游戏

# [1-9]:过滤掉评价等级 低于 设定值的游戏, 0和-1:禁用
review_score_higher = -1
# [1-9]:过滤掉评价等级 高于 设定值的游戏, 0和-1:禁用
review_score_lower = -1

# [0-100]:过滤掉好评率 低于 设定值的游戏, -1:禁用
review_percent_higher = -1
# [0-100]:过滤掉好评率 高于 设定值的游戏, -1:禁用
review_percent_lower = -1

# 任意数值:过滤掉总评价数 低于 设定值的游戏, -1:禁用
review_total_higher = -1
# 任意数值:过滤掉总评价数 高于 设定值的游戏, -1:禁用
review_total_lower = -1

# -----平台过滤器---------------------------------------
# true: 过滤掉 不支持 Windows的游戏, false: 不过滤, -1: 禁用
platform_windows = -1
# true: 过滤掉 不支持 Mac的游戏, false: 不过滤, -1: 禁用
platform_mac = -1
# true: 过滤掉 不支持 Linux的游戏, false: 不过滤, -1: 禁用
platform_linux = -1

# PS: Steam上真的有不支持Windows的游戏吗?

# -----标签过滤器---------------------------------------
# 游戏标签名称由Steam语言决定,不同的语言会获取到不同的标签

# false: 过滤掉 没有 标签的游戏, true/-1:禁用
tags_enpty = -1

# 下面的过滤器都会 忽略 没有 标签的游戏

# 过滤规则示例:
# 游戏A: '射击','动漫','动作','弹幕射击'
# 游戏B: '视觉小说','动漫','女性主角','冒险','独立'
# 游戏C: '休闲','冒险','独立'

# tags_include = ['动漫'] -> 过滤后 -> 游戏A,游戏B
# tags_include = ['动漫','射击'] -> 过滤后 -> 游戏A
# tags_exclude = ['休闲'] -> 过滤后 -> 游戏C
# tags_exclude = ['冒险','独立'] -> 过滤后 -> 游戏B,游戏C

# 可以只写标签名称的一部分,只要标签中包含设置值就算匹配
# 如果设置了多个标签,则需要每个设置值都被匹配才算通过匹配

# 错误的配置可能得到空结果,例如:
# tags_include = ['射击游戏'] -> 过滤后 -> 无匹配
# 得到空结果的原因是没有游戏有'射击游戏'这个标签

# 任意文本:过滤掉标签 不匹配 规则的游戏, -1: 禁用
tags_include = -1
# tags_include = ['标签1']
# tags_include = ['标签1','标签2'] 

# 任意文本:过滤掉标签 匹配 规则的游戏, -1: 禁用
tags_exclude = -1
# tags_exclude = ['标签1']
# tags_exclude = ['标签1','标签2']

# 可以设置更多标签,比如['标签1','标签2','标签3','标签4']
